---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Writing from "../components/sections/Writing.astro";
import Footer from "../components/sections/Footer.astro";
---

<Layout
	title="Mohith | Portfolio"
	description="Portfolio of a creative technologist."
>
	<Hero />

	<div class="relative w-full overflow-hidden">
		<About />

		<Experience />

		<Projects />

		<Writing />
		<Footer />
	</div>
</Layout>
